# Git
.git
.gitignore

# IDE
.vscode
.idea
*.iml

# Node
node_modules
frontend/node_modules
frontend/dist

# Gradle
.gradle
backend/**/.gradle
backend/**/build/classes
backend/**/build/generated
backend/**/build/resources
backend/**/build/tmp
backend/**/build/test-results
backend/**/build/reports
backend/**/bin
backend/**/out
backend/**/.settings
backend/**/src

# Jenkins
jenkins-data

# Monitoring
monitoring/grafana/data

# Docker
*.log

# Temp files
tmp
*.tmp
