spring:
  application:
    name: consumer-worker
  main:
    web-application-type: reactive
  datasource:
    shard1:
      url: jdbc:mariadb://172.25.0.37:13306/paydb
      username: payuser
      password: paypass
    shard2:
      url: jdbc:mariadb://mariadb-shard2:3306/paydb
      username: payuser
      password: paypass
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        jdbc:
          time_zone: UTC
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: payment-consumer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
      max-poll-records: ${SPRING_KAFKA_CONSUMER_MAX_POLL_RECORDS:500}
      fetch-min-size: ${SPRING_KAFKA_CONSUMER_FETCH_MIN_BYTES:524288}
      fetch-max-wait: ${SPRING_KAFKA_CONSUMER_FETCH_MAX_WAIT_MS:200}
    listener:
      concurrency: ${SPRING_KAFKA_LISTENER_CONCURRENCY:6}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
  port: ${SERVER_PORT:8081}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

payment:
  dlq-topic: ${PAYMENT_DLQ_TOPIC:payment.dlq}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
